@import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);

h2 {
  text-align: center;
  margin: auto;
  font-family: 'Bungee Shade', cursive;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  /* color: #ffffff; */
  float: left;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 10px 1%;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  height: 300px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.snip1527 figcaption {
  padding: 25px 20px 25px;
  position: relative;
  bottom: 0;
  z-index: 1;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #DCDCDC;
  content: '';
  background: -moz-linear-gradient(90deg, #DCDCDC 0%, #ADD8E6 100%, #ADD8E6 100%);
  background: -webkit-linear-gradient(90deg, #DCDCDC 0%, #ADD8E6 100%, #ADD8E6 100%);
  background: linear-gradient(90deg, #DCDCDC 0%, #ADD8E6 100%, #ADD8E6 100%);
  opacity: 1;
  z-index: -1;
}

.snip1527 h4,
.snip1527 p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.snip1527 h4 {
  display: block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
  text-align: center;
}

.snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.button {
  font-family: 'Merienda', cursive;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.35);
  float: right;
}
