h2 {
 font-style: italic;
 text-align: center;
}

.team-list {
 border: 5px solid;
 border-radius: 1em;
 margin: 5px;
 padding: 3em 3em;
 text-align: center;
 font-style: italic;
}

.new-team {
 border-radius: 0.5em;
 margin: 5px;
 background-color: #99ccff;
 float: right;
}
