@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

/* Dark: #FE5D26 */
/* Light: #FEF0EB */
body {
  background-color: #FEF0EB;
}

.title-bar {
  padding: 0.2em;
  background-color: #FE5D26;
}
.title-bar-title a {
  color: #ffffff;
}
.title-bar-title a:hover {
  color: #000000;
}
.title-bar .menu-icon {
  margin-right: 0.75em;
}

.top-bar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #FEF0EB;
  border-bottom: #FE5D26 0.2em solid;
  border-top: #FE5D26 0.2em solid;
}
.top-bar ul{
  background-color: #FEF0EB;
}
.top-bar-right, .top-bar-left {
  display: contents;
}
.top-bar-left.show-for-medium > ul > li > a {
  padding-left: 0;
}
.top-bar-right > ul > ul:nth-child(2) {
  margin-left: 1em;
  margin-right: 1em;
}
.top-bar-right > ul > li {
  padding-top:0.5em;
}
.top-bar-right > div > ul > li > ul {
  text-align: center
}

.futhub-div {
  padding: 0;
  position: relative;
  top: 0.5em;
  left: 0.5em;
}
.futhub-title {
  color: #FE5D26;
  display: inline;
  font-size: 1em;
  font-weight: bold;
  margin-left: 0.5em;
}
.futhub-title-large {
  color: #FE5D26;
  margin-left: 1em;
  font-size: 1.2em;
  font-weight: bold;
}
.futhub-title-large:hover {
  color: #000000;
}

a .futhub-title-large {
  padding-left: 0;
}

.is-dropdown-submenu-parent {
  background-color: #FEF0EB;
}
.is-dropdown-submenu-parent > a {
    position: relative;
    padding-left: 3em;
    margin: auto 1em;
}
.is-dropdown-submenu-parent a::after {
  margin-left: 2em;
}
.is-dropdown-submenu {
  min-width: 6em;
  background-color: #FEF0EB;
  text-align: center;
}
.dropdown.menu a {
  padding: 0.5em;
}

.is-drilldown {
  margin: 0 auto;
}
.drilldown a {
  background-color: #FEF0EB;
 }
.drilldown .is-drilldown-submenu-parent > a {
    position: relative;
    max-width: 8em;
    padding-left: 1em;
}
.drilldown .is-drilldown-submenu {
  background-color: #FEF0EB;
}

.edit-signout {
  background-color: #FEF0EB;
  color: #FE5D26;
}
.edit-sign {
  color: #FE5D26;
}

 .menu-icon-div {
  height: 1.5em;
  background-color: #FE5D26;
}

.profile-photo-anchor{
  background-color: #FEF0EB;
}
.profile-photo {
  height: -webkit-fill-available;
  background-color: #FEF0EB;
  vertical-align: bottom;
}
.profile-photo-large {
  height: inherit;
  background-color: #FEF0EB;
}
.menu-icon-div a:hover {
  color: black;
}

.snip1211 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 0;
  display: contents;
}
.snip1211 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1211 li {
  display: inline-block;
  list-style: outside none none;
  margin-top: 0.5em;
  margin-right: 2em;
  padding: 0;
}
.snip1211 a {
  padding: 0.4em 0;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.snip1211 a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  border-top: 3px solid #34495e;
  border-bottom: 3px solid #34495e;
}
.snip1211 a:hover,
.snip1211 .current a {
  color: #4c4c4c;
}
.snip1211 a:hover:before,
.snip1211 .current a:before {
  opacity: 1;
  top: 0;
  bottom: 0;
}
