.show-page-image {
  position: relative;
  height: 500px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  text-align: center;
}

.club-info {
  text-align: center;
}

.tab {
  margin: 20px;
}

.tabpanel {
  margin-left: 23rem;
}
