@import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);

.team-title-main-div {
  font-family: 'Lato', Arial, sans-serif;
  background-color: #FE5D26;
  margin: 0 1em;
  border-radius: 0.5em 0.5em 0 0;
}
.team-title-div {
  margin-top: 0.1em;
  padding-left: 0.5em;
  font-style: italic;
  font-weight: bold;
}
.team-title-div a {
  color: black;
}
.team-title-div a:hover {
  color: #FEF0EB;
}
.wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-left: 0.5em;
  margin-right: 1em;
  padding: 0;
  background-color: #FEF0EB;
}
.team-tile > :first-child {
    margin-top: 0.6em;
}

.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  float: left;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 10px 1%;
  max-width: 277px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
  border-radius: 1em;
}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  height: 13em;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.snip1527 figcaption {
  padding: 5px 2px 5px;
  position: relative;
  bottom: 0;
  z-index: 1;
  max-height: 5%;
  height: 4em;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #6092C8;
  content: '';
  background: -moz-linear-gradient(90deg, #6092C8 0%, #e5d9d7 100%, #e5d9d7 100%);
  background: -webkit-linear-gradient(90deg, #6092C8 0%, #e5d9d7 100%, #e5d9d7 100%);
  background: linear-gradient(90deg, #ffebe6 0%, #fefefe 100%, #fefefe 100%);
  opacity: 1;
  z-index: -1;
}

.snip1527 h4,
.snip1527 p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.snip1527 h4 {
  display: block;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
  text-align: center;
  color: black;
}

.snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.team-button {
  margin: 0.1em 0;
  background-color: #FE5D26;
  padding: 0.5em 0.8em;
  color: black;
  float:right;
  border: 1px solid #FEF0EB;
  border-radius: 1em;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  font-style: italic;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.35);
}
.team-button:hover {
  background-color: #FEF0EB;
  color: #000000;
}
