.club-info {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.35);
  border-radius: 1em;
  text-align: center;
  background-color: #FEF0EB;
  max-width: 80%;
  margin: 1em 2em 0 2em;
}

.tablist {
  margin: 0;
}
.contact-info {
  list-style: none;
}

.tabpanel {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.35);
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  text-align: center;
  background-color: #FEF0EB;
}
