.club-info {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.35);
  border-radius: 1em;
  text-align: center;
  background-color: #FEF0EB;
  max-width: 80%;
  margin: 1em 2em 0 2em;
}

.tablist {
  margin: 0;
}
.contact-info {
  list-style: none;
}

.tabpanel {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.35);
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  text-align: center;
  background-color: #FEF0EB;
}

.team-show-title {
  margin: 0;
}
.team-profile-pic-div {
  height: 12em;
  width: 12em;
  border: 1px #FE5D26 solid;
  border-radius: 50%;
  margin: auto;
}
.team-profile-pic-icon {
  position: relative;
  top: 0.1em;
}

.team-side-bar {
  color: #FE5D26;
  font-weight: bold;
}

.team-albums {
  margin: 1em;
}

.team-image-div {
  margin: 0;
  padding: 0;
  position: relative;
}
div .team-image {

}
.prev,
.next {
  position: absolute;
  cursor: pointer;
  width: auto;
  padding: 5px;
  top: 50%;
  color: red;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 2%;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.team-images-ul{
  text-align: center;
  margin: 0 1em;
}
.team-images-li {
  display: inline-block;
  float: left;
  width: 16.66%;
  object-fit: fill;
}
.team-photo-dropzone {
}
.team-photo-dropzone button {
  margin: 1em;
}

.team-page-profile-photo {
  font-weight: bold;
  font-style: italic;
}
.team-page-profile-photo img {
  border: #FE5D26 1px solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.team-photo-comments-form {
  display: grid;
  top: 80%
}
.team-photo-comments-form span input {
  margin: 0;
}
div.team-showpage-about {
  background-color: #FE5D26;
  padding: 0.5em;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.35);
  margin-bottom: 0.5em;
}
.posts-ul {
  list-style-type: none;
}

div.join-this-team-div > a > button.snip1287 {
  margin: 0 6em 1.5em;
}

.deleteIcon {
  cursor: pointer;
}
.about, .members {
  cursor: pointer;
}

.searchedTeam {
  padding: 0 0.5em;
  border-top: 2px red solid;
  border-bottom: 2px red solid;
  font-size: 0.9em;
  line-height: 2em;
}

.closeButton {
  color: red;
  position: relative;
  left: 0.5em;
  bottom: 0.5em;
  cursor: pointer;
}
