#drop {
  background-color: #F04123;
}

h6 {
  margin: 0;
}

hr {
  margin: 1rem 0 1rem;
}

.feed-page-row {
  margin-left: 2em;
}

.empty-profile-photo {
  text-align: center;
}

.feed-choose-photo {
  display: inline-block;
  margin-left: 0;
}

.feed-submit-photo {
  float: right;
}

.feed-date {
  font-size: 0.8em;
  font-style: italic;
}

.row .row {
  margin-top: 1em;
}

.feed-close-button {
  float: right;
}

.albums {
  margin-left: 5em;
  margin-right: 5em;
}

.user-photos-index {
  display: inline-block;
  margin-right: 0;
  width: 12em;
  height: 8em;
  text-align: center;
}

.album-image {
  max-height: 8em;
  vertical-align: baseline;
}

.photo-main {
  margin: 1em 2em;
  border: 1px black solid;
  padding: 0;
}

.photo-container {
  margin: 1em 0;
  padding: 0;
}

.delete-icon {
  position: relative;
  float: right;
  bottom:2em;
  right:1em;
  color: red;
}

ul.striped-list {
    list-style-type: none;
    margin: 0 0 0.5em 0;
    padding: 0;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.35);
}

ul.striped-list > li:nth-of-type(odd) {
    background-color: #fdd8cc ;
}

ul.striped-list > li {
    padding: 6px;
}
